* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main */

h2 {
  color: blue;
}

h3 {
  color: #1d73b9;
}

.app {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

.row {
  display: flex;
}

.row-block {
  margin-bottom: 30px;
}

.news-col {
  margin-right: 60px;
}

.bottom-row {
  justify-content: space-between;
}

.top-row {
  align-items: flex-end;
}

.list-icon {
  vertical-align: middle;
}

.secondary-text {
  color: grey;
}

.mb {
  margin-bottom: 24px;
}

.block-image {
  width: 120px;
  height: 120px;
  margin-bottom: 12px;
  border-radius: 50%;
}

/* News */

.news-list {
  margin-bottom: 16px;
}

.news-item {
  margin-bottom: 8px;
}

.news-item:last-child {
  margin-bottom: 0;
}

.news-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* exchange */

.exch-item {
  margin-right: 16px;
}

.exch-item:last-child {
  margin-right: 0;
}

.exch-ticker {
  font-weight: bold;
  margin-right: 8px;
}
.exch-value {
  margin-right: 8px;
}

.broadcast-icon {
  font-size: 18px;
}

.broadcast-text {
  margin-right: 8px;
}

/* TV */

.tv-time {
  margin-right: 8px;
}

.tv-text {
  margin-right: 8px;
}

/* most visited */
.most-visited-category {
  font-weight: bold;
}